

.mar-10{margin: 10rpx}
.mar-20{margin: 20rpx}
.mar-30{margin: 30rpx}

.mar-left5{margin-left: 5rpx}
.mar-left10{margin-left: 10rpx}
.mar-left15{margin-left: 15rpx}
.mar-left20{margin-left: 20rpx}
.mar-left30{margin-left: 30rpx}
.mar-left40{margin-left: 40rpx}
.mar-left60{margin-left: 60rpx}
.mar-left70{margin-left: 70rpx}

.mar-right5{margin-right: 5rpx}
.mar-right10{margin-right: 10rpx}
.mar-right15{margin-right: 15rpx}
.mar-right20{margin-right: 20rpx}
.mar-right30{margin-right: 30rpx}
.mar-right40{margin-right: 40rpx}

.mar-right-10{margin-right: -10rpx}

.mar-bottom5{margin-bottom: 5rpx}
.mar-bottom10{margin-bottom: 10rpx}
.mar-bottom15{margin-bottom: 15rpx}
.mar-bottom20{margin-bottom: 20rpx}
.mar-bottom30{margin-bottom: 30rpx}

.mar-top5{margin-top: 5rpx}
.mar-top10{margin-top: 10rpx}
.mar-top15{margin-top: 15rpx}
.mar-top20{margin-top: 20rpx}
.mar-top30{margin-top: 30rpx}
.mar-top50{margin-top: 50rpx}

.mar-top-10{margin-top: -10rpx}
.mar-top-20{margin-top: -20rpx}

.mar-LR10{margin: 0 10rpx;}
.mar-LR20{margin:0 20rpx}
.mar-LR30{margin:0 30rpx}
.mar-LR40{margin:0 40rpx}
.mar-LR50{margin:0 50rpx}

.mar-TB10{margin:10rpx 0}
.mar-TB15{margin:15rpx 0}

.pad-5{padding: 5rpx}
.pad-8{padding: 8rpx}
.pad-10{padding: 10rpx;}
.pad-15{padding: 15rpx;}
.pad-20{padding: 20rpx;}
.pad-30{padding: 30rpx;}
.pad-40{padding: 40rpx;}
.pad-45{padding: 45rpx;}

.pad-left10{padding-left: 10rpx}
.pad-left20{padding-left: 20rpx}
.pad-left30{padding-left: 30rpx}
.pad-left50{padding-left: 50rpx}

.pad-right5{padding-right: 5rpx;}
.pad-right10{padding-right: 10rpx;}

.pad-LR5{padding: 0 5rpx;}
.pad-LR10{padding: 0 10rpx;}
.pad-LR20{padding:0 20rpx !important;}
.pad-LR30{padding:0 30rpx}
.pad-LR40{padding:0 40rpx}

.pad-TB10{padding:10rpx 0}
.pad-TB20{padding:20rpx 0}
.pad-TB30{padding:30rpx 0}
.pad-TB50{padding:50rpx 0}

.pad-bottom10{padding-bottom: 10rpx;}
.pad-bottom20{padding-bottom: 20rpx;}

.clear-float{padding: 0;margin: 0;}



