.size-128{width: 128rpx;height: 128rpx}




.size-128{width: 128rpx;height: 128rpx}

.size-16{width: 16rpx;height: 16rpx}
.size-36{width: 36rpx;height: 36rpx}

.size-38{width: 38rpx;height: 38rpx}

.size-43{width: 43rpx;height: 43rpx}

.size-48{width: 48rpx;height: 48rpx}

.size-52{width: 52rpx;height: 52rpx}

.size-64{width: 64rpx;height: 64rpx}

.size-72{width: 72rpx;height: 72rpx}

.size-86{width: 86rpx;height: 86rpx}
.size-96{width: 96rpx;height: 96rpx}

.size-110{width: 110rpx;height: 110rpx}

.size-128{width: 128rpx;height: 128rpx}

.size-140{width: 140rpx;height: 140rpx}
.size-160{width: 160rpx;height: 160rpx}
.size-180{width: 180rpx;height: 180rpx}
.size-190{width: 190rpx;height: 190rpx}
.size-240{width: 240rpx;height: 240rpx}
